<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>obj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>meshlab_obj.icns</string>
			<key>CFBundleTypeName</key>
			<string>OBJ 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>OBJ  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>stl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>meshlab_obj.icns</string>
			<key>CFBundleTypeName</key>
			<string>STL 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>STL  </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ply</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>meshlab_obj.icns</string>
			<key>CFBundleTypeName</key>
			<string>PLY 3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>MeshLab</string>
	<key>CFBundleGetInfoString</key>
	<string>MeshLab VCG-ISTI-CNR</string>
	<key>CFBundleIconFile</key>
	<string>meshlab.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIdentifier</key>
	<string>com.vcg.MeshLab</string>
	<key>NOTE</key>
	<string>Please, do NOT change this file -- It was generated by Qt/QMake.</string>
</dict>
</plist>