[submodule "src/vcglib"]
	path = src/vcglib
	url = https://github.com/gabryon99/vcglib
	branch = devel
[submodule "src/external/nexus"]
	path = src/external/nexus
	url = https://github.com/cnr-isti-vclab/nexus
