*.ipch
*.pdb
*.sdf
*.opensdf
*.sln
*.vcxproj
*.ilk
*.exp
*.suo
*.user
*.log
*.filters
*.db
*.opendb
*.db-shm
*.db-wal
Debug/
Release/
src/external/lib/win32-msvc20??/*.lib
src/external/lib/win32-msvc/*.lib
src/distrib/plugins/*.lib
src/distrib/plugins/*.dll
src/distrib/plugins/*.xml
src/distrib/common.lib
src/distrib/meshlab.exe
src/distrib/meshlabserver.exe
src/distrib/MeshLabBundle
src/install/snap20????/prime
src/install/snap20????/parts
src/install/snap20????/stage
src/install/snap20????/*.snap

*.lproj
*.plist
*.icns
*.a
*.dmg
src/distrib/meshlab.app/*

##standard Qt and C++ gitignore##
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database 
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*


© 2019 GitHub, Inc.
