
*.pro.user
build-*/
*.pdb
*.sdf
*.opensdf
*.sln
*.vcxproj
*.ilk
*.exp
*.suo
*.user
*.log
*.filters
moc_*.cpp
ui_*.h
qrc_*.cpp
Debug/
Release/
src/distrib/plugins/*.lib
src/distrib/plugins/*.dll
src/distrib/plugins/*.xml
src/distrib/common.lib
src/distrib/meshlab.exe
