[submodule "src/external/nexus"]
	path = src/external/nexus
	url = https://github.com/cnr-isti-vclab/nexus
[submodule "src/vcglib"]
	path = src/vcglib
	url = https://github.com/PFasano99/vcglib.git
	branch = devel
