
# need name in second half because sometimes this email has different names on it (see below)
Paolo Cignoni <paolo.cignoni@isti.cnr.it> Paolo Cignoni cignoni <paolo.cignoni@isti.cnr.it>
Paolo Cignoni <paolo.cignoni@isti.cnr.it> Paolo Cignoni <cignoni@isti.cnr.it>
Paolo Cignoni <paolo.cignoni@isti.cnr.it> cignoni <cignoni@isti.cnr.it>

# not sure the real email of these people or why their commits use Paolo's email
# Some appear to be past PhD students or visiting scholars at VCG.
Andrea Bernabei <paolo.cignoni@isti.cnr.it> Andrea Bernabei bernabei <paolo.cignoni@isti.cnr.it>
Gregorio Palmas <paolo.cignoni@isti.cnr.it> Gregorio Palmas palmas <paolo.cignoni@isti.cnr.it>
Luca Benedetti <paolo.cignoni@isti.cnr.it> Luca Benedetti benedetti <paolo.cignoni@isti.cnr.it>
Michele Sottile <paolo.cignoni@isti.cnr.it> Michele Sottile sottile <paolo.cignoni@isti.cnr.it>
Ricardo Marroquim <paolo.cignoni@isti.cnr.it> Ricardo Marroquim marroquim <paolo.cignoni@isti.cnr.it>
Rosario Aiello <paolo.cignoni@isti.cnr.it> Rosario Aiello aiello <paolo.cignoni@isti.cnr.it>
Stefano Marras <paolo.cignoni@isti.cnr.it> Stefano Marras marras <paolo.cignoni@isti.cnr.it>

# Former visiting scholar at VCG, Eigen maintainer
Gael Guennebaud <gael.guennebaud@inria.fr> Gael Guennebaud guennebaud <paolo.cignoni@isti.cnr.it>

# More typical entries follow, to unify contributions amd correct names/emails

Alberto Mardegan <alberto.mardegan@canonical.com>
Alberto Mardegan <alberto.mardegan@canonical.com> <mardy@users.sourceforge.net>

Alessandro Muntoni <muntoni.alessandro@gmail.com>
Alessandro Muntoni <muntoni.alessandro@gmail.com> <alemuntoni@users.noreply.github.com>

Andrea Baldacci <andrea.baldacci@isti.cnr.it>

David Boening <davidboening@yahoo.it>

Fabio Ganovelli <fabio.ganovelli@isti.cnr.it>
Fabio Ganovelli <fabio.ganovelli@isti.cnr.it> <fabio.ganovelli@gmail.com>

Federico Ponchio <federico.ponchio@isti.cnr.it>
Federico Ponchio <federico.ponchio@isti.cnr.it> <ponchio@gmail.com>

Gianpaolo Palma <gianpaolo.palma@isti.cnr.it>

Giovanni Pintore <giannipint@gmail.com>

Giorgio Marcias <giorgio.marcias@isti.cnr.it>
Giorgio Marcias <giorgio.marcias@isti.cnr.it> <marcias.giorgio@gmail.com>

Guido Ranzuglia <guido.ranzuglia@isti.cnr.it>

JM Espadero <josemiguel.espadero@urjc.es>

Lex van der Sluijs <lvandersluijs@ptc.com>
Lex van der Sluijs <lvandersluijs@ptc.com> <78106735+ptc-lexvandersluijs@users.noreply.github.com>

Luca Franceschi <l.franceschi5@studenti.unipi.it>

Lucas Palomo <lucas.palomo@t-online.de>

Luigi Malomo <luigi.malomo@isti.cnr.it>
Luigi Malomo <luigi.malomo@isti.cnr.it> <malomo.luigi@gmail.com>
Luigi Malomo <luigi.malomo@isti.cnr.it> <malomo@users.noreply.github.com>

Manuele Sabbadin <manuele.sabbadin@isti.cnr.it>

Marco Callieri <marco.callieri@isti.cnr.it>
Marco Callieri <marco.callieri@isti.cnr.it> <callieri@isti.cnr.it>

Marco Di Benedetto <marco.dibenedetto@isti.cnr.it>

Massimiliano Corsini <massimiliano.corsini@isti.cnr.it>

Matteo Dellepiane <matteo.dellepiane@isti.cnr.it>

Michael Savich <savichmichael@gmail.com>

Michele Morisco <michele.morisco94@gmail.com>
Michele Morisco <michele.morisco94@gmail.com> <43170306+michisco@users.noreply.github.com>

Nico Pietroni <nico.pietroni@isti.cnr.it>

Nicolas Mellado <nmellado0@gmail.com>

Rylie Pavlik <rylie.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie@ryliepavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@ryanpavlik.com>

Steve Demlow <demlow@gmail.com>
Steve Demlow <demlow@gmail.com> <steve.demlow@mmm.com>

gabryon99 <leleattolo99@gmail.com>
gabryon99 <leleattolo99@gmail.com> <pappalardo@ntop.org>
