[Desktop Entry]
Type=Application
Name=MeshLab
GenericName=Mesh processing
Comment=View and process meshes
Exec=AppRun %F
Icon=meshlab.png
Terminal=false
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
Categories=Graphics;3DGraphics;Viewer;Qt;
