[Desktop Entry]
Type=Application
Name=MeshLabServer
GenericName=Mesh processing
Comment=Batch Processor MeshLab
Exec=AppRun %F
Icon=meshlab
Terminal=false
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
Categories=Graphics;3DGraphics;Viewer;Qt;
