
root = true

# Default to reasonable settings
[*]
trim_trailing_whitespace = true
insert_final_newline = true

# Ignore external libs
[/external/**]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# CMake scripts, including those in the top level of external which we wrote
[CMakeLists.txt,.cmake,/external/*.cmake]
indent_style = tab
indent_size = 4
