name: Publish release to WinGet
on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Specific tag name"
        required: false
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: CNRISTI.MeshLab
          installers-regex: '${{ inputs.tag_name }}-windows_x86_64.exe'
          version: ${{ inputs.tag_name }}
          token: ${{ secrets.WINGET_ACC_TOKEN }}
          fork-user: alemuntoni
